# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# macOS
.DS_Store

# Data
data/
*/data/

# MLflow
mlruns/
*/mlruns/

# Model files
*.pt
*.pth
*.onnx
*.onnx.data
*.ckpt
*.pkl

# Generated outputs
outputs/
*/outputs/

# Task 1
task1/data/
task1/outputs/

# Task 2
task2/data/
task2/outputs/

# Task 3
task3/data/
task3/outputs/

# Task 4
task4/data/
task4/outputs/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.temp